[Desktop Entry]
Categories=Network;
Comment[zh_CN]=微信KDE前端
Comment=WeChat KDE frontend
Exec=kwx
GenericName[zh_CN]=微信KDE前端
GenericName=WeChat KDE frontend
Icon=kwx
MimeType=
Name[zh_CN]=微信KDE前端
Name=WeChat KDE frontend
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
